<!DOCTYPE html>
<html lang="en">
<head>

</style>
	<title>Feed Finder</title>
	<script src="/static/jquery.js" type="text/javascript"></script>
	<script src="/static/backbone/test/vendor/json2.js" type="text/javascript"></script>
	<script src="/static/backbone/test/vendor/underscore.js" type="text/javascript"></script>
	<script src="/static/backbone/backbone.js" type="text/javascript"></script>
	<script src="/static/bootstrap/js/bootstrap.js" type="text/javascript"></script>

	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
	<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body background="/static/images/bg.jpg" style="background-attachment:fixed;background-repeat:no-repeat;">
		<iframe src="/static/images/aubanner.jpg" width="1200" height="400" frameborder="0" scrolling="yes" style="position:relative;margin-left:168px;top:80px"> 
		</iframe>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="javascript:void()">Feed Finder</a>
				<ul class="nav pull-left">
                      <li><a href="/home" href="javascript:void(0)">Home</a></li>
                </ul>
			</div>
		</div>
	</div>
	<div class="container main" align="center">
		<h4 class="title"><b>Meet the Team Page<b></h4>
		<div style="background:black;" height="200px" width="400px">
						<span></br><img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash3/556096_449284561751284_2034425864_n.jpg" alt="jo", width="304" height="228" /></span>
						<h3>Joriel Jacinto</h3>
						
						
						<i> "I am not afraid of cockroaches, unless they act like a brown butterfly" </i>
						
						<br>
						<p>
							Tall, Dark and Handsome, this guy has it all, he is also the Head programmer of the group. Specializes in creating and debugging the awsome codes for the News Feeds and the Leader of the Band. BTW he is a proud believer of Masturr.
						</p>
						</br>
						<hr>
		</div>
		<div style="background:black;" height="200px" width="400px">
						<span></br><img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-snc6/281613_2120789471407_5880674_n.jpg" alt="benj", width="304" height="228" /></span>
						<h3>Benjamin David</h3>
						
						
						<i> "I'll show them how "BIG" I am." </i>
						
						</br>
						<p>
							Quality his forte. His eye for perfection never ceases to amaze and iritate us. His frank but helpful suggestions for the codes and design is one of the main recipe for a successul, fully-deployed application. 
						</p>
					</br>
						<hr>
		</div>
		<div style="background:black;" height="200px" width="400px">
						<span></br><img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-snc7/388634_2180070944558_1756701595_n.jpg" alt="gen", width="304" height="228" /></span>
						<h3>Genesis Lou De Jesus</h3>
						
						
						<i> "Why do it now if you can do it later?"</i>
						
						<br>
						<p>
							Designing and layout is his specialty. Learned majority of HTML and CSS in a day. He is also a proud believer of "Masturr" as well and a critically acclaimed bummer. His dream is to make the Philippines a Free Wi-Fi country. 
						</p>
						<br>
						<hr>
					
		</div>
	</div>


						
</body>

</html>